.product-details {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.product-image {
    max-width: 100%;
}

.product-name {
    font-size: 24px;
    font-weight: bold;
}

.product-description {
    font-size: 18px;
    margin-top: 10px;
}

.product-price {
    font-size: 20px;
    color: #008CBA; /* Color de precio personalizado */
    margin-top: 10px;
}

.interaction-buttons {
    margin-top: 20px;
}

.buy-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-right: 10px;
}

.add-to-cart-button {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}
